

<%= link_to "Add New Book To The Shelf", new_book_path %>


<ul>
  <% @books.each do |book| %>
    <li><%= book.title %> - <%= book.price %> - <%= book.quantity %><br>
        <%= link_to "Edit this Book", edit_book_path(book) %>
        -
        <%= link_to "Delete this Book", book_path(book) %>
    </li><br>

  <% end %>
</ul>
